<configuration>
    <appender name="FILE" class="com.dephoegon.delbase.aid.util.delbaseLogger">
        <primaryDir>mod-errors</primaryDir>
        <secondaryDir>crash-reports</secondaryDir>
        <fileName>delbase-errors.log</fileName>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="debug">
        <appender-ref ref="FILE" />
    </root>
</configuration>